<h2>Outstanding Bets</h2>

<section>
{{#each model as |bet|}}
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{bet.description}}{{/text.headline}}
        {{#text.subhead}}{{bet.bettor}} vs. {{bet.acceptor}}{{/text.subhead}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content class="layout-row layout-align-space-between"}}
      {{#card.media size="s"}}
        <div class="card-media">
          <div>Amount: ${{bet.amount}}</div>
          <div>{{bet.timestamp}}</div>
        </div>
      {{/card.media}}
      {{#card.actions class="layout-column"}}
      {{/card.actions}}
    {{/card.content}}
  {{/paper-card}}
{{/each}}
</section>